.feedback {
	background-color: #7beec7;

	/* .feedback__raw */
	&__raw {
		padding: 50px 0 50px 0;
		display: flex;
		justify-content: space-between;
	}

	/* .feedback__text */

	&__text {
		display: flex;
		flex: 0 0 50%;
		flex-direction: column;
	}

	/* .feedback__title */

	&__title {
		color: #fff;
		font-size: 30px;
		line-height: 48px;
		text-transform: uppercase;
	}

	/* .feedback__button */

	&__button {
		margin: 25px 0 0 0;
		a{
			display: inline-block;
			padding: 20px 30px;
			background-color: #ffffff;
			color: #7beec7;
			font-size: 14px;
			font-weight: 700;
			text-transform: uppercase;
		}

	}

	/* .feedback__form */

	&__form {
	}
}

.form-feedback {
	padding: 20px;
	background-color: #ffffff;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

	/* .form-feedback__title */
	&__title {
		color: #60606e;
		font-size: 24px;
		line-height: 36px;
		text-transform: uppercase;
		margin: 0 0 10px 0;
	}

	/* .form-feedback__subtitle */
	&__subtitle {
		color: $color-light;
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		line-height: 24px;
		margin: 0 0 12px 0;
	}

	/* .form-feedback__form */
	&__form {

	}

	/* .form-feedback__elem */
	&__elem {

	}
	
	&__raw{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__textarea{
		flex: 0 1 100%;
		border: 1px solid rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		color: $color-light;
		font-size: 12px;
		text-transform: uppercase;
		padding: 20px;
		resize: none;
		&:focus{
			border-top:2px solid #7beec7;
		}
	}
	&__elem-btn{
		margin: 20px 0 0 0;
		text-align: center;
	}

	&__btn{
		display: inline-block;
		color: #fff;
		font-size: 14px;
		text-transform: uppercase;
		background-color: #7beec7;
		padding: 20px 50px;
		cursor: pointer;
		&:hover{
			transform: scale(1.01);
			box-shadow: 0 0 10px rgba(0,0,0,.4);
		}
	}
}


